<div id="mySidenav" class="sidenav">
  <md-content layout-margin class="myfield">
    <fieldset>
      <legend>manufacturer:</legend>
      <div ng-repeat="x in manufacturer" ng-click="toggle1(x, manufacturerArray1 )">
        <md-checkbox ng-model="manufacturer">
          {{x}}
        </md-checkbox>
      </div>
    </fieldset>
    <fieldset>
      <legend>os:</legend>
      <div ng-repeat="x in os" ng-click="toggle1(x,osArray1)">
        <md-checkbox ng-model="os">
          {{x}}
        </md-checkbox>
      </div>
    </fieldset>
    <fieldset>
      <legend>storage:</legend>
      <div ng-repeat="x in storage" ng-click="toggle1(x,storageArray1)">
        <md-checkbox ng-model="storage">
          {{x}}
        </md-checkbox>
      </div>
    </fieldset>
    <fieldset>
      <legend>camera:</legend>
      <div ng-repeat="x in camera" ng-click="toggle1(x,cameraArray1)">
        <md-checkbox ng-model="camera">
          {{x}}
        </md-checkbox>
      </div>
    </fieldset>
  </md-content>
  </md-sidenav>
  <md-content flex layout-padding>
    <div layout="column" layout-align="top center">
    </div>
  </md-content>
</div>
